<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 90%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 90%;
            margin: 0;
            padding: 0;
        }
        </style>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Supply, in Demand</h1>
        {% if not loggedIn %}
        <input id="email" type="text" placeholder="insert email here" />
        <button id="register">register</button>
        {% else %}
        <p>Hello {{email_test}}</p>
        <input  id="message" type="text" placeholder="What type of business would you like to see?" />
        <button id="request">request a location</button>
        <button id="logout">logout</button>
        {% endif %}
        <div id="map"></div>
        <script src="../static/map.js">
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNmTe27cVZqSWmY3xjzNiUlvlyTWIukA&callback=initMap"
        async defer></script>
        <div>
            {% for geotag in geotags %}
            <p>{{ geotag['email']}} - {{geotag['geotag']}} - {{geotag['request']}}</p>
            {% endfor %}
        </div>
    </body>
</html>