h1 {
    color: midnightblue;
    font-family: Arial;
    font-size: 4.0rem;
}
h3 {
    color: indigo;
    font-family: Arial;
    font-size: 3.0rem;
}

.output {
    color: cornflowerblue;
    font-family: Arial;
    font-size: 1.5rem;
}

#header {
    background-color: azure;
}

#posts {
    background-color: cornsilk;
}