<!DOCTYPE html>
<html>   
    <head>
        <title>Chattot</title>
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    </head>
    <body>
        <div id="header">
            <h1><center>Chatter</center></h1>
            {% if not loggedIn %}
            <input id="username" type="text" placeholder="username" />
            <button id="login">login</button>
            {% else %}
            <p>Hello {{username}}</p>
            <button id="logout">logout</button>
            <h3>Posts</h3>
            <input  id="message" type="text" placeholder="the next message" />
            <button id="submit"> submit</button>
        </div>
        {% endif %}
        <div id="posts">
            <h3>Feed</h3>
            {% for message in messages %}
            <p class=".output">{{ message['ts'] }} - {{ message['message'] }}</p>
            {% endfor %}
        </div>
    </body>
</html>